 <div class="container" id="add-form-container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold mb-4">Post your job submiting this form</h1>
        </div>
        <div class="col-md-12" id="form-box">
            <h2>Enter the information in the best possible way to find your developer faster!</h2>
            <form action="/jobs/add" method="POST">
                <div class="form-group">
                    <label for="title">Job's Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Type the title of your job" required>
                    <small id="titleHelp" class="form-text text-muted">The title is very important, be clear.</small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Type the description of your job" required></textarea>
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" name="company" placeholder="Type the name of your company" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail for contact</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Type your best e-mail" required>
                </div>
                <div class="form-group">
                    <label for="salary">Salary offered</label>
                    <input type="text" class="form-control" id="salary" name="salary" placeholder="Enter the proposed salary for this job" required>
                </div>
                <input type="hidden" name="new_job" value="1">
                <button type="submit" class="btn btn-danger mt-3">
                    <i class="gg-check-o"></i> 
                    Post job
                </button>
            </form>
        </div>
    </div>
</div>