@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

/* Navigation */
.navbar {
    padding: 1rem;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: 700;
}

.navbar .nav-item .btn, #search-form button, .list-group-item a{
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 2px rgba(220,53,69, 0.5);
}

.nav-link.btn.btn-danger:hover {
    color: #dc3545;
    background-color: #f8f9fa;
}

/* Container with image */
#top-container {
    padding: 110px 110px;
    background-color: #333;
    margin-bottom: 30px;
    background-image: url('../img/banner.jpg');
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#main-title {
    padding: 30px 0;
    font-size: 3rem;
    font-weight: 700;
}

#main-subtitle {
    font-size: 1rem;
    padding-bottom: 80px;
}

#search-form {
    padding: 30px 100px;
}

#search-form .col-md-10, #search-form .col-md-2{
    padding: 0px;
}

#search-form input, #search-form button {
    width: 100%;
    border-radius: 2px;
    font-size: 18px;
} 
#search-form button i {
    display: inline-block;
    margin-right: 10px;
}

/* Job list */
#jobs-container {
    padding: 0 100px;
    padding-bottom: 50px;
}

#job-list-title {
    font-weight: 700;
}

#job-list .list-group-item {
    margin-bottom: 8px;
    border: 1px solid #ccc;
    padding: 15px 80px;
    color: #212529;
    height: 120px;
}

#job-list .list-group-item p{
    font-size: 14px;
    margin-bottom: 5px;
}

#job-list .list-group-item.new-job{
   border: none;
   background-color: #fff7cc;
}

.list-group-item img {
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);
}

.list-group-item a {
    position: absolute;
    right: 20px;
    top: 35px;
    height: 40px;
    line-height: 25px;
    border-radius: 2px;
}

.new-job-label {
    background-color: #ffdf3e;
    color: #212529;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
    border-radius: 2px;
    display: none;
}

.new-job .new-job-label {
    display: block;
}

footer {
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #dc3545;
    color: #fff;
}

footer a {
    color: #ffdf3e;
}

footer a:hover {
    color: #ffdf3e;
    text-decoration: none;
}



